.page-header {
    display: block;
    justify-content: flex-start; 
    align-items: flex-start;
    height: auto;
    padding: 20px;
    width: 100%;
}

.header-image {
    position: absolute; /* Use absolute positioning */
    right: 50px; 
    height: 50px;
}

.header-text {
    flex-grow: 1;
    text-align: center;
    font-size: 40px; 
    font-weight: bold;
    padding-left: 450px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: white;
    flex-direction: column;
    overflow: hidden;
}

h1, h2 {
    text-align: center;
    color: #333;
}

.header-image-container {
    margin-top: 20px;
    text-align: center;
    width: 100%; 
    height: 200px;

}

.header-image-begin {
    width: 200px; 
    height: auto;
    margin-top: 0;
}


.home-container, .present-container, .mic-container {
    width: 100%;
    height: 250px;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 50px; /* Add space between the buttons */
}

.menu-item {
    text-align: center;
    text-decoration: none;
    color: #333;
    cursor: pointer; /* Change cursor to pointer for the whole menu item */
}

.menu-item .icon {
    width: 150px; /* Adjust icon size */
    height: 150px;
    margin: 10px auto;
    background-color: #ddd;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out; /* Smooth hover transition */
}

.menu-item:hover .icon {
    transform: scale(1.1); /* Slight zoom effect on hover */
}

.menu-item:hover {
    cursor: pointer; /* Change cursor to pointer on hover */
}

.present-container {
    display: flex;
    justify-content: center;
    gap: 100px; /* Add space between icons */
}

.watermark {
    position: fixed;
    left: 0;
    bottom: 0;
}

.watermark img {
    width: 900px; /* Adjust size as needed */
    height: auto;
    opacity: 0.7;
    z-index: -1;
}

.front-image {
    position: absolute; 
    z-index: 1;
    opacity: 0.7; 
    bottom: 0;
    left: 0; 
    height: auto; 
}

.main-container {
    width: 100%; 
    height: 100%;
    display: flex;
    justify-content: flex-start;
    margin-left: 300px;
}

.sidebar {
    width: 150px;
    background-color: #f5f5f5;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: fixed; /* Fix the sidebar to the left side */
    top: 0; /* Align with the top of the page */
    left: 0; /* Place it at the left side */
    height: 100%;
}

.sidebar-item {
    width: 100%;
    margin-left: 0;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #f5f5f5;
    border: none;
    cursor: pointer;
}

.sidebar-item#room_control {
    margin-bottom: 120px; /* Add extra space after the room control button */
}

.main-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100%;
}


.input-sources {
    display: flex;
    justify-content: center;
    align-items: center; /* Centers content vertically */
    width: 100%; 
    padding-top: 50px; /* Adds space between header and input-sources */
    padding-bottom: 50px; /* Adjusts bottom padding for extra space */
    box-sizing: border-box; 
}

.scrollable {
    background-color: #fcfcfc;
    overflow-y: auto; /* Enable vertical scrolling */
    border: 1px solid #e0e0e0;
    padding: 10px;
    border-radius: 8px;
}

.scrollable li {
    margin-bottom: 20px; 
}

.scrollable.box1 {
    max-height: 150px;
    min-width: 200px;
    margin-top: -100px;
}

.box1 button {
    background: none;
    border: none;
    padding: 10px 15px;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
    color: #333;
}

.box1 button:hover {
    color: #00f4c3;
    font-weight: bold;
}

.box1 button.active {
    font-weight: bold;
    color: #00f4c3;
}

.scrollable.box2 {
    max-height: 400px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    float: left;
}

.box2 button {
    position: relative;
    background-color: #fff; 
    border: 1px solid #00f4c3; 
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    color: #333; 
    display: inline-block;
    transition: all 0.3s ease;
    border-radius: 25px;
    width: 200px; 
    height: 50px; 
    line-height: 30px;
}

.box2 button:hover {
    background-color: #e0e0e0;
    font-weight: bold;
    color: #00f4c3;
}

.box2 button.active {
    font-weight: bold;
    color: #00f4c3;
}

.modal {
    display: none;
    position: fixed;  /* Keep modal fixed on the screen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.modal-content {
    position: fixed;   
    bottom: 0;           
    left: 150px;         
    width: 200px;         
    height: 400px;       
    background: #fcfcfc;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
}

/* Volume Controls Side-by-Side */
.volume-controls {
    display: flex; /* Align items side by side */
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px; /* Space between controls */
}

/* Individual Volume Control */
.volume-control {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Label Styling */
.volume-control label {
    font-size: 20px;
    font-weight: bold;
    color: #c3c3c3;
}

/* Slider Container */
.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

/* Vertical Slider Styling */
.vertical-slider {
    background: linear-gradient(to right, #00f4c3 0%, #00f4c3 50%, #fff 50%, #fff 100%);
    writing-mode: bt-lr; /* Vertical slider */
    transform: rotate(270deg); /* Rotate slider */
    width: 150px; /* Adjust slider length */
    height: 8px; /* Slider thickness */
    background: #c3c3c3;
    border-radius: 5px;
    outline: none;
}

input[type='range'] {
    overflow: hidden;
    -webkit-appearance: none;
    background-color: #ddd;
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #00f4c3;
    margin-top: -1px;
  }
  
  input[type='range']::-webkit-slider-thumb {
    width: 6px;
    -webkit-appearance: none;
    cursor: pointer;
    box-shadow: -80px 0 0 80px #00f4c3;
  }


/* Volume Up/Down Icons */
.slider-container img {
    width: 25px;
    height: 25px;
    cursor: pointer;
    padding: 20px;
}

/* Mute Icon Styling */
.mute-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 100px;
    cursor: pointer;
}
